## 여러개 입력 처리

In [1]:
a = 'red green blue'
a.split()

['red', 'green', 'blue']

In [2]:
b = 'red,green,blue'
b.split(',')     # 콤마를 기준으로 나누기

['red', 'green', 'blue']

In [3]:
string = input('빛의 3원색을 빈칸으로 구분하여 입력하세요.')
string

'빨강 초록 파랑'

In [4]:
r,g,b = string.split()
r,g,b

('빨강', '초록', '파랑')

In [6]:
numbers = ['3.1','2.4','8.5']
list(map(float, numbers))     # float 숫자로 바꿈

[3.1, 2.4, 8.5]

In [9]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [10]:
string = input('실수 세개를 빈칸으로 구분하여 입력하세요.')
string

'3.1 2.4 8.5'

In [11]:
list(map(float, input('실수 세개 입력').split()))

[3.1, 2.4, 8.5]

In [12]:
x, y, z = [3.1, 2.4, 8.5]
x, y, z

(3.1, 2.4, 8.5)

In [13]:
x, y, z = list(map(float, input('실수 세개 입력').split()))
x, y, z

(3.14, 1.414, 2.718)

In [14]:
x, y, z = map(float, input('실수 세개 입력').split())
x, y, z

(1.0, 2.0, 3.0)

## 추가사항

### range - sequence 자료형

In [15]:
# 하나만 있으면 0부터 끝값+1
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
# 1 ~ 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# 1 ~ 10 까지 홀수만
list(range(1, 10, 2))     # 파이썬에서 끝값은(10)은 포함이 안된다

[1, 3, 5, 7, 9]

In [26]:
# 10 ~ 1 까지 짝수만
list(range(11, 1, -2))

[11, 9, 7, 5, 3]

### 두개의 정수를 입력받아서 첫번째 값에서부터 두번째 값까지 출력
#### 단, 두번째 값이 첫번째 값보다 큼

In [49]:
a, b = map(int,input('두개의 정수를 입력하세요.').split())
a, b

(5, 10)

In [50]:
print(list(range(a, b+1)))

[5, 6, 7, 8, 9, 10]

In [52]:
a, b = map(int, input().split())     # 위와 같은 또다른 방법
a, b

(5, 10)