# 7장. 자료 구조

### 1. 스택(Stack)
- 데이터의 삽입과 삭제가 데이터의 가장 한쪽 끝에서만 일어나는 자료구조. ex) 프링글스

In [3]:
stack = [1, 2, 3]
stack.append(4)     # push 역할 (데이터를 삽입하는 과정)
stack

[1, 2, 3, 4]

In [4]:
stack.pop()     # pop (삽입한 데이터를 삭제하는 과정)

4

In [5]:
stack

[1, 2, 3]

In [7]:
# 입력한 문자열을 거꾸로 추출
word = input('단어 입력')
word_list = list(word) 
print(word_list)

result = []
for _ in range(len(word)):          # _는 더미변수
    result.append(word_list.pop())
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

### 2. 큐(Queue)
- 데이터의 처음으로 넣은 요소가 처음으로 꺼내지는 자료구조

In [8]:
queue = [1, 2, 3, 4]
queue.pop(0)

1

In [9]:
queue

[2, 3, 4]

###  3. 튜플(Tuple)

In [10]:
t = (1, 2, 3)       # ()를 사용
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [12]:
# 괄호가 없어도 튜플로 인식
t = 1, 2, 3
t

(1, 2, 3)

In [13]:
t.count(1)      # 1이 몇개인지 알고싶을때

1

In [14]:
t[0] = 4        # 튜플은 리스트와 달리 불변이기때문에 에러가 뜸

TypeError: 'tuple' object does not support item assignment

In [15]:
# 시퀀스 자료형이므로 for 문에서 사용 가능
for element in t:
    print(element)

1
2
3

### 4. 세트(Set)

In [16]:
s = set([1, 2, 3, 1, 2, 3])
s

{1, 2, 3}

In [17]:
s = set((1, 2, 3))
s

{1, 2, 3}

In [18]:
s.add(1)
s

{1, 2, 3}

In [19]:
s.update([1, 3, 5, 7])
s

{1, 2, 3, 5, 7}

In [20]:
s.remove(7)
s

{1, 2, 3, 5}

In [22]:
s.discard(s)
s

{1, 2, 3, 5}

In [25]:
s.clear()
s

set()

In [26]:
s1 = set(range(1, 6))
s2 = set(range(3, 8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [27]:
# 합집합(Union)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [33]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [28]:
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [29]:
# 교집합(Intersection)
s1.intersection(s2)

{3, 4, 5}

In [34]:
s1 & s2

{3, 4, 5}

In [30]:
# 차집합(Difference)
s1.difference(s2)

{1, 2}

In [31]:
s1 - s2

{1, 2}

In [32]:
for i in s1:
    print(i)

1
2
3
4
5